* {
  font-family: "Noto Sans", sans-serif; }

body {
  background-color: #ddd; }

.intro-text {
  margin-left: 20px; }
  .intro-text hr {
    margin-top: -10px;
    margin-right: 20px; }

.projects-header {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: -20px; }
  .projects-header h2 {
    font-size: 1.1em; }
  .projects-header hr {
    margin-top: -15px; }

ul {
  list-style: none; }

a.logo {
  margin-left: 20px; }

.menu {
  margin-right: 20px;
  float: right; }

.article ul {
  list-style-type: disc; }

#caption h2 {
  font-size: 1em;
  font-weight: bold; }

ul.projects {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 0; }
  ul.projects li.project {
    width: 300px;
    margin-top: 30px;
    min-height: 150px; }

section.header {
  margin-top: -10px;
  background-color: white;
  padding: 10px;
  padding-top: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  section.header img.logo-circle {
    background-color: #ddd;
    border-radius: 50%; }

section.container {
  background-color: white;
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -16px; }

section.footer {
  margin-top: -20px;
  padding: 10px;
  padding-top: 50px;
  background-color: white;
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  section.footer p {
    text-align: center; }

.article {
  padding: 15px;
  margin-bottom: 50px;
  margin-left: 25px;
  margin-right: 25px; }

.article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px; }

.slider {
  position: relative;
  overflow: hidden;
  height: 200px; }
  .slider img {
    display: block;
    width: 100%;
    height: 100%; }

.slider > * {
  display: block; }

.caption-cover {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 90%;
  left: -110%;
  transition: all 0.07s ease-out;
  transform: rotate(45deg); }

.caption {
  z-index: 1000;
  position: absolute;
  opacity: 0;
  transition: all 1.5 ease-in-out;
  color: white;
  text-decoration: none; }

.slider:hover .caption-cover {
  top: 0%;
  left: -65%; }
.slider:hover .caption {
  opacity: 1; }

.project-header {
  display: block; }
  .project-header h1 {
    display: inline-block;
    float: left; }
  .project-header div {
    float: right; }

.project-title {
  margin-left: 40px;
  margin-right: 40px; }

.project-name {
  display: inline-block;
  margin-bottom: 10px; }

ul.tool-list {
  float: right; }
  ul.tool-list .tool:first-child {
    margin-right: 0; }

.tools {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: 15px; }
  .tools .caption:not(:first-child) {
    margin-left: 10px; }
  .tools a:link, .tools a:visited {
    text-decoration: none; }

.caption-name {
  top: 5px;
  left: 15px;
  width: 200px;
  font-size: 1em; }

.caption-short-desc {
  top: 45px;
  left: 15px;
  width: 220px; }

.caption-tools {
  position: initial;
  margin-left: 0 !important; }

ul.tools {
  margin-left: -25px; }
  ul.tools li {
    margin-right: 10px; }

.tool {
  text-align: center;
  line-height: 35px;
  width: 90px;
  height: 35px;
  font-size: 1.1em;
  float: right;
  color: white;
  display: block;
  margin-right: 10px;
  border-radius: 5px; }

p.subtitle {
  font-size: 0.9em;
  margin: 0;
  width: 450px; }

p.other_projects {
  margin-left: 20px;
  margin-bottom: -20px; }

p.project_name {
  font-size: 1em;
  margin-top: 2px; }
