$content_width: 1000px
$content_height: 3000px

*
  font-family: sans-serif

ul
  list-style: none

.menu
  float: right

.article ul
  list-style-type: disc

#caption
  background-color: #aaa
  h2
    font-size: 1em
    font-weight: bold

ul.projects
  list-style: none
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  padding-right: 20px
  padding-left: 20px
  margin-top: 0
  li.project
    width: 300px
    margin-top: 30px
    min-height: 150px
    background-color: #ccc

section.header
  background-color: #eee
  padding: 10px
  width: $content_width
  margin-left: auto
  margin-right: auto

  img.logo-circle
    border-radius: 50%

section.container
  background-color: #ddd
  padding: 1px 10px 10px 10px
  width: $content_width
  margin-left: auto
  margin-right: auto

.article
  padding: 15px

.article img
  display: block
  margin-left: auto
  margin-right: auto

.slider
  position: relative
  overflow: hidden
  height: 200px
  img
    display: block
    width: 100%
    height: 100%

.slider > *
  display: block

$caption-start-top: 90%
$caption-start-left: 110%
$caption-end-top: 0%
$caption-end-left: 65%

.caption-cover
  position: absolute
  width: 200%
  height: 200%
  background: #fdc424
  top: $caption-start-top
  left: -$caption-start-left
  transition: all 0.07s ease-out
  transform: rotate(45deg)

.caption
  z-index: 1000
  position: absolute
  opacity: 0
  transition: all 1.5 ease-in-out
  color: white
  text-decoration: none

.slider:hover
  .caption-cover
    top: $caption-end-top
    left: -$caption-end-left
  .caption
    opacity: 1

$caption-margin: 15px

.tools
  position: relative
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  margin-top: -30px
  margin-left: 15px
  .caption:not(:first-child)
    margin-left: 10px
  a:link, a:visited
    text-decoration: none

.caption-name
  top: 5px
  left: $caption-margin
  width: 200px
  font-size: 1em
.caption-short-desc
  top: 45px
  left: $caption-margin
  width: 220px

.caption-tools
  position: initial
  margin-left: 0 !important

ul.tools
  margin-left: -25px
  li
    margin-right: 10px

$tool-height: 35px
.tool
  text-align: center
  line-height: $tool-height
  width: 90px
  height: $tool-height
  font-size: 1.1em
  float: left
  color: white
  display: block
  margin-right: 10px
  border-radius: 5px
